<app-navigator-bar title="練習"></app-navigator-bar>

<h3>{{ deckTitle }}</h3>
<progress [value]="index" [max]="list.length"></progress>

<article *ngIf="currentCard">
  <div class="card-face-display" [innerHtml]="currentCard.content.front"></div>
  <hr />
  <div class="card-face-display" [innerHtml]="currentCard.content.back"></div>
  <footer class="grid">
    <button (click)="handleFeedback(4)">
      <ruby>簡<rt>かん</rt></ruby>
      <ruby>単<rt>たん</rt></ruby>
    </button>
    <button (click)="handleFeedback(3)">まあまあ</button>
    <button (click)="handleFeedback(2)">
      <ruby>難<rt>むず</rt>しい</ruby>
    </button>
    <button (click)="handleFeedback(1)">
      <ruby>別<rt>べつ</rt></ruby>
      <ruby>時<rt>とき</rt></ruby>
    </button>
  </footer>
</article>
