<app-navigator-bar title="🍣"></app-navigator-bar>

<h3>{{ deckTitle }}</h3>
<progress [value]="index" [max]="list.length"></progress>

<article *ngIf="currentCard">
  <div [innerHtml]="currentCard.content.front"></div>
  <hr />
  <div [innerHtml]="currentCard.content.back"></div>
  <hr />
  <pre>{{ currentCard.fsrsCard | json }}</pre>
  <div class="grid">
    <button (click)="handleFeedback(4)">Easy</button>
    <button (click)="handleFeedback(3)">Good</button>
    <button (click)="handleFeedback(2)">Hard</button>
    <button (click)="handleFeedback(1)">Again</button>
  </div>
</article>
