<nav>
  <ul>
    <li>
      <h1>
        <a [routerLink]="'/'">{{ title }}</a>
      </h1>
    </li>
  </ul>
  <ul>
    <ng-container
      *ngIf="enableMobileLayout | async; then mobileLayout; else desktopLayout"
    ></ng-container>
  </ul>
</nav>

<ng-template #desktopLayout>
  <ng-container *ngFor="let action of actions">
    <ng-container
      *ngTemplateOutlet="
        action.type === 'Method' ? methodDesktopButton : linkDesktopButton;
        context: { $implicit: action }
      "
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #mobileLayout>
  <li *ngIf="actions.length > 0">
    <details class="dropdown">
      <summary>Menu</summary>
      <ul dir="rtl">
        <ng-container *ngFor="let action of actions">
          <ng-container
            *ngTemplateOutlet="
              action.type === 'Method' ? methodMobileButton : linkMobileButton;
              context: { $implicit: action }
            "
          ></ng-container>
        </ng-container>
      </ul>
    </details>
  </li>
</ng-template>

<ng-template #methodDesktopButton let-action>
  <li *ngIf="action.renderCondition?.() ?? true">
    <button
      [class]="action.class"
      [routerLink]="action.routerLink"
      [queryParams]="action.queryParams"
      (click)="action.callback?.()"
    >
      {{ action.label }}
    </button>
  </li>
</ng-template>

<ng-template #linkDesktopButton let-action>
  <li *ngIf="action.renderCondition?.() ?? true">
    <button
      [class]="action.class"
      [routerLink]="action.routerLink"
      [queryParams]="action.queryParams"
      (click)="action.callback()"
    >
      {{ action.label }}
    </button>
  </li>
</ng-template>

<ng-template #methodMobileButton let-action>
  <li *ngIf="action.renderCondition?.() ?? true">
    <a
      [routerLink]="action.routerLink"
      [queryParams]="action.queryParams"
      (click)="action.callback?.()"
    >
      {{ action.label }}
    </a>
  </li>
</ng-template>

<ng-template #linkMobileButton let-action>
  <li *ngIf="action.renderCondition?.() ?? true">
    <a
      [routerLink]="action.routerLink"
      [queryParams]="action.queryParams"
      (click)="action.callback()"
    >
      {{ action.label }}
    </a>
  </li>
</ng-template>
