<app-navigator-bar title="About 🙇🏼‍♂️">
    <li><a [routerLink]="'..'">Go Home 🏡</a></li>
</app-navigator-bar>

<p>
    I'm Jordi, known in some sites as <a target="https://twitter.com/hamboorglar">hamboorglar</a>. I'm a programmer from Barcelona, Spain. I love videogames, loud music, hamburgers, japanese and cats.
    <br>
    I made this site because I wanted:
</p>
<ul>
    <li>Create an easy way to build kanji flashcards.</li>
    <li>Make a useful website.</li>
</ul>
    
<p>All the code can be found here! I'm open to pull requests. You can algo support me through donations ✨</p>