<h1>Anki🧠</h1>
<div>
    <button [routerLink]="'/editor'">Create decks</button>
    <button [routerLink]="'/about'">About</button>
</div>

<h4>Decks</h4>
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Cards</th>
            <th scope="col"><!-- ❌ Column --></th>
        </tr>
    </thead>
    <tbody *ngIf="decks$ | async as decks">
        <ng-container *ngIf="decks.length > 0; else emptyListBlock">
            <tr *ngFor="let deck of decks; index as idx">
                <th scope="row">{{deck.name}}</th>
                <th>{{deck.flashCards.length}}</th>
                <th class="centered-cell" (click)="handleDeleteDeck(idx)">❌</th>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #emptyListBlock>
    <tr>
        <th scope="row" colspan="2">Empty list</th>
    </tr>
</ng-template>