<app-navigator-bar title="フラッシュカード"></app-navigator-bar>

<hgroup>
    <h2>こんにちは👏</h2>
    <p>This part of the site will have a greetings section with a cute message to ask for support 💖</p>
</hgroup>

<ng-container *ngIf="decks$ | async as decks">
    <article *ngIf="decks.length > 0; else emptyListBlock">
        <input type="search" placeholder="Search..." (keyup)="handleSearchTextChange($event)" />

        <div class="overflow-auto">
            <table class="striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Deck cards</th>
                        <th scope="col">Cards to review</th>
                        <th scope="col"><!-- ✏️ Column --></th>
                        <th scope="col"><!-- ❌ Column --></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let deck of (decks | filterDecksByText: searchText); index as idx">
                        <th scope="row" tabindex="idx">{{deck.name}}</th>
                        <td>{{deck.flashCards.length}}</td>
                        <td>{{deck.toBeReviewedCount}}</td>
                        <td class="shrink-cell">
                            <button data-tooltip="Edit" [routerLink]="'/editor'" [queryParams]="{id: deck.idbKey}">
                                ✏️
                            </button>
                        </td>
                        <td class="shrink-cell">
                            <button data-tooltip="Remove" (click)="handleDeleteDeck(deck.idbKey)">
                                ❌
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="5">
                            <a [routerLink]="'/editor'">Create new deck</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</ng-container>

<ng-template #emptyListBlock>
    <article>Looks like there are no decks here at the moment,
        <a [routerLink]="'/editor'">click here to create one.</a>
    </article>
</ng-template>