<table class="striped">
  <thead>
    <tr>
      <th scope="col">Front</th>
      <th scope="col">Back</th>
      <th scope="col"><!-- ✏️ Column --></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards; index as idx">
      <td scope="row" [innerHtml]="card.content.front"></td>
      <td [innerHtml]="card.content.back"></td>
      <td
        class="shrink-cell"
        data-tooltip="Edit"
        data-placement="left"
        tabindex="0"
        (click)="handleOpenCardDialog(idx)"
      >
        <div>✏️</div>
      </td>
    </tr>
  </tbody>
</table>
