<dialog [open]="isOpen$ | async">
    <article>
        <!-- Template driven form -->
        <form #flashCardForm="ngForm">
            <label for="front">
                Front
                <input type="text" [(ngModel)]="flashCardModel.front" required id="front" name="front"
                    placeholder="Dictionary" #front="ngModel" />
                <small class="pico-color-red-500" [hidden]="front.valid || front.pristine">
                    Field not valid
                </small>
            </label>

            <label for="front">
                Back
                <input type="text" [(ngModel)]="flashCardModel.back" required id="back" name="back" placeholder="じしょ"
                    #back="ngModel" />
                <small class="pico-color-red-500" [hidden]="back.valid || back.pristine">
                    Field not valid
                </small>
            </label>
        </form>

        <footer>
            <button type="button" class="secondary" (click)="handleDismiss()">
                Dismiss
            </button>
            <button type="button" [disabled]="!flashCardForm.form.valid" (click)="handleSubmit()">
                Submit
            </button>
        </footer>
    </article>
</dialog>