<dialog open="true">
  <article>
    <header>
      <h3>🖌️ Card content</h3>
    </header>

    <!-- <details class="dropdown" *ngIf="index !== -1">
      <summary>Menu</summary>
      <ul dir="rtl">
        <li>
          <a class="secondary" (click)="handleClearCardStats()">
            Clear stats 🧼
          </a>
        </li>
        <li>
          <a class="secondary" (click)="handleDeleteCard()"> Delete 🗑️ </a>
        </li>
      </ul>
    </details> -->

    <form [formGroup]="cardForm">
      <app-card-edit-field
        [autoFocus]="true"
        [cardForm]="cardForm"
        label="Front"
        name="front"
        placeholder="Example: 辞書"
      ></app-card-edit-field>
      <hr />
      <app-card-edit-field
        [cardForm]="cardForm"
        label="Back"
        name="back"
        placeholder="Example: Dictionary"
      ></app-card-edit-field>
    </form>

    <footer>
      <button type="button" class="secondary" (click)="handleDismiss()">
        Dismiss
      </button>
      <button
        type="button"
        [disabled]="!cardForm.valid"
        (click)="handleSubmit()"
      >
        Submit
      </button>
    </footer>
  </article>
</dialog>
