/* You can add global styles to this file, and also import other style files */
main {
    height: 100dvh;
    overflow: hidden;
}

/* Every screen component, they're placed after <router-outlet>  */
app-root > *:not(router-outlet) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* This class expands the component vertically and enables scroll behavior */
.expand-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: var(--pico-spacing);
}

.expand-container.scrollable {
  overflow-y: scroll;
}

.expand-container.hidden-scroll {
  overflow-y: hidden;
}

ol {
  list-style: none;
  padding: 0;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  white-space: wrap;
}

th {
  position: sticky;
  z-index: 1;
  top: 0;
}
