/* You can add global styles to this file, and also import other style files */
main {
    height: 100dvh;
    overflow: hidden;
}

/* Every screen component, they're placed after <router-outlet>  */
app-root > *:not(router-outlet) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* This class expands the component vertically and enables scroll behavior */
.expand-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: var(--pico-spacing);

  &.scrollable {
    overflow-y: auto;
  }
  
  &.hidden-scroll {
    overflow-y: hidden;
  }

  article {
    align-self: center;
  }

  footer {
    align-self: flex-end;
  }
}

.rounded {
  aspect-ratio: 1;
  border-radius: 50%;
}


@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding-left: var(--pico-spacing);
    padding-right: var(--pico-spacing);
  }
}

.dropdown {
  max-width: 20ch;
}

article {
  border-radius: 22px;
}

nav {
  h1 {
    margin-bottom: 0;
  }

  details {
    margin: 0;
  }
}

ol {
  list-style: none;
  padding: 0;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  white-space: wrap;
}

th {
  position: sticky;
  z-index: 1;
  top: 0;
}
