/* You can add global styles to this file, and also import other style files */
main {
    height: 100dvh;
}

app-root > *:not(router-outlet) {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shrink-cell {
    width: 1px;
}
