<h1>Deck Editor✨</h1>
<div>
    <button [routerLink]="'..'">Return</button>
    <button type="button" (click)="handleCreateNewCard()">Add Card</button>
</div>

<app-card-edit-dialog (submit)="onSubmitNewCard($event)"></app-card-edit-dialog>


<!-- Reactive form -->
<form [formGroup]="newDeckForm">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" placeholder="JLPT N5" />
    <div [hidden]="nameFormField.valid || nameFormField.pristine">Field not valid</div>

    <label for="flashCards">Cards</label>
    <table>
        <thead>
            <tr>
                <th scope="col">Front</th>
                <th scope="col">Back</th>
                <th scope="col"><!-- ✏️ Column --></th>
                <th scope="col"><!-- ❌ Column --></th>
            </tr>
        </thead>
        <tbody formArrayName="flashCards">
            <tr *ngFor="let flashCard of flashCardsFormField.controls; index as idx">
                <th scope="row">{{flashCard.value.content.front}}</th>
                <th>{{flashCard.value.content.back}}</th>
                <th class="centered-cell" (click)="handleEditCard(idx)">✏️</th>
                <th class="centered-cell" (click)="handleDeleteCard(idx)">❌</th>
            </tr>
        </tbody>
    </table>

    <button [routerLink]="'..'" [disabled]="!newDeckForm.valid" (click)="handleCreateDeck()">
        Create Deck
    </button>
</form>