<h1>Deck Editor✨</h1>
<div>
    <button [routerLink]="'..'">Return</button>
</div>
<form (ngSubmit)="onSubmit($event)" #newCard="ngForm">
    <div class="new-card-container">
        <span class="expandable-field">
            <label for="front">Front</label>
            <input type="text" [(ngModel)]="newCardModel.front" required id="front" name="front"
                placeholder="Dictionary" #front="ngModel" />
            <div [hidden]="front.valid || front.pristine">Field not valid</div>
        </span>
        <span class="expandable-field">
            <label for="front">Back</label>
            <input type="text" [(ngModel)]="newCardModel.back" required id="back" name="back" 
                placeholder="じしょ" #back="ngModel" />
            <div [hidden]="back.valid || back.pristine">Field not valid</div>
        </span>
    </div>
    <div>
        <button type="submit" [disabled]="!newCard.form.valid">Create</button>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th scope="col">Front</th>
            <th scope="col">Back</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Dictionary</th>
            <th>じしょ</th>
            <th class="centered-cell">✏️</th>
            <th class="centered-cell">❌</th>
        </tr>
        <tr>
            <th scope="row">Example</th>
            <th>例えば</th>
            <th class="centered-cell">✏️</th>
            <th class="centered-cell">❌</th>
        </tr>
    </tbody>
</table>