<app-navigator-bar title="Editor">
    <li><a [routerLink]="'..'">Go Home 🏡</a></li>
</app-navigator-bar>

<app-card-edit-dialog (submit)="onSubmitNewCard($event)"></app-card-edit-dialog>

<!-- Reactive form -->
<form [formGroup]="newDeckForm">
    <fieldset>
        <label for="name">
            Name
        </label>
        <input type="text" id="name" formControlName="name" placeholder="Deck name" />
        <small class="pico-color-red-500" [hidden]="nameFormField.valid || nameFormField.pristine">
            Field not valid
        </small>
    </fieldset>

    <label for="name">
        Cards
    </label>
    <input type="text" placeholder="Search... 🔎" (keyup)="onSearchTextChange($event)" />
    <table class="striped">
        <thead>
            <tr>
                <th scope="col">Front</th>
                <th scope="col">Back</th>
                <th scope="col"><!-- ✏️ Column --></th>
                <th scope="col"><!-- ❌ Column --></th>
            </tr>
        </thead>
        <tbody formArrayName="flashCards">
            <tr *ngFor="let flashCard of (flashCardsFormField.controls | filterCardsByText: searchText); index as idx">
                <th scope="row">{{ flashCard.value.content.front }}</th>
                <td>{{ flashCard.value.content.back }}</td>
                <td class="shrink-cell">
                    <button class="secondary outline" data-tooltip="Edit"
                        (click)="handleEditCard(idx)">
                        ✏️
                    </button>
                </td>
                <td class="shrink-cell">
                    <button class="secondary outline" data-tooltip="Remove"
                        (click)="handleDeleteCard(idx)">
                        ❌
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row" colspan="4">
                    <a (click)="handleCreateNewCard()">Add Card</a>
                </th>
            </tr>
        </tbody>
    </table>

    <button type="button" [disabled]="!newDeckForm.valid"
        [routerLink]="'..'" (click)="handleCreateDeck()">
        {{ idbKey ? 'Apply Changes' : 'Create Deck' }}
    </button>
</form>