<input placeholder="Search..." (keyup)="handleSearchTextChange($event)" />

<table class="striped">
    <thead>
        <tr>
            <th scope="col">Decks</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let deck of (processedDecks$ | async | filterDecksByText: searchText); index as idx">
            <td scope="row">
                <a tabindex="0" [routerLink]="'/feed'" [queryParams]="{id: deck.idbKey}">
                    {{deck.name}}
                </a>
            </td>
            <td [routerLink]="'/editor'" [queryParams]="{id: deck.idbKey}">
                <div data-tooltip="Edit">
                    ✏️
                </div>
            </td>
        </tr>
    </tbody>
</table>