:host {
    overflow-y: scroll;
    height: 100%;
}

ol {
    padding-inline: 1rem;
}

article {
    display: flex;

    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
    box-shadow: none;

    .deck-list-name {
       flex-grow: 1;
    }
}