<ol>
  <li
    *ngFor="
      let deck of processedDecks$ | async | filterDecksByText : searchText;
      index as idx
    "
  >
    <article class="deck-list-item">
      <div
        class="deck-list-name"
        tabindex="0"
        [routerLink]="'/feed'"
        [queryParams]="{ id: deck.idbKey }"
      >
        <a>{{ deck.name }}</a>
      </div>
      <div
        class="deck-list-side-button"
        data-tooltip="Edit"
        data-placement="left"
        [routerLink]="'/editor'"
        [queryParams]="{ id: deck.idbKey }"
      >
        ✏️
      </div>
    </article>
  </li>
</ol>
