article {
    display: flex;
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
    padding: 0;

    div {
        padding: var(--pico-spacing);
    }

    .deck-list-name {
        flex-grow: 1;
        text-overflow: ellipsis;
    }

    .deck-list-side-button {
        flex-shrink: 0;
    }
}

ol {
    padding-inline: 1rem;
}
